@font-face {
  font-family: 'gilroy medium';
  src: url(../../css/fonts/gilroy-medium.ttf); }

@font-face {
  font-family: 'gilroy extrabold';
  src: url(../../css/fonts/gilroy-extrabold.otf); }

@keyframes waves {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-1692px, 0, 0); } }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 750px) {
    html {
      font-size: 46.875%; } }
  @media screen and (max-width: 375px) {
    html {
      font-size: 23.43%; } }
  @media screen and (max-width: 450px) {
    html {
      font-size: 28.125%; } }
  @media screen and (max-width: 600px) {
    html {
      font-size: 37.5%; } }
  @media screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }

body {
  font-family: 'gilroy medium', sans-serif;
  line-height: 1.8;
  min-height: 100vh; }

.heading__main {
  font-family: 'gilroy extrabold', sans-serif;
  font-size: 3.3vw;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize; }
  @media screen and (max-width: 600px) {
    .heading__main {
      font-size: 3rem; } }

.heading__primary {
  font-size: 2.5rem;
  font-weight: 500;
  color: #000000;
  text-transform: capitalize;
  text-align: center; }

.heading__features {
  font-size: 2.5rem;
  font-weight: 500;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff; }

.heading__sub {
  font-size: 1.8rem;
  font-weight: 500;
  color: #219653;
  text-transform: capitalize;
  text-align: center; }

.heading__sub-s {
  font-size: 1.3rem;
  font-weight: 500;
  color: #333333;
  text-transform: capitalize;
  text-align: center; }

.heading__small {
  font-size: .7rem;
  font-weight: 800;
  color: #5C5C5C;
  text-transform: uppercase;
  text-align: center; }

.paragraph__home {
  font-size: 1.6rem;
  font-weight: 400;
  color: #B7E6FF; }

.paragraph__text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #818181;
  text-align: center; }

.paragraph__text-s {
  font-size: 1.2rem;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.paragraph__text-f {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff; }

.paragraph__text-p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #219653;
  text-align: center; }

.paragraph__doc {
  font-size: 1.25rem;
  font-weight: 400;
  color: #B7E6FF;
  text-align: center;
  text-transform: capitalize; }

.u-margin-top-bg {
  margin-top: 10rem; }
  @media screen and (max-width: 600px) {
    .u-margin-top-bg {
      margin-top: 3rem; } }

.u-margin-top-md {
  margin-top: 8rem; }

.u-margin-top-sm {
  margin-top: 2.5rem; }

.u-margin-sm {
  margin: 1rem 0; }

.u-margin-bottom-bg {
  margin-bottom: 10rem; }

.special-margin {
  margin-right: 36rem; }
  @media screen and (max-width: 600px) {
    .special-margin {
      margin-right: 0; } }

.u-margin-bottom-text {
  margin-bottom: 2.5rem; }

.u-margin-bottom-sm {
  margin-bottom: 1rem; }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
  height: 4rem;
  width: 23rem;
  background-color: #219653;
  color: #ffffff;
  margin-top: 3.5rem;
  padding: .5rem 7rem;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid transparent;
  border-radius: .2rem;
  transition: 1s all; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    box-shadow: 0 1rem 2rem rgba(39, 174, 96, 0.5);
    transform: scale(1.045) translateY(1px); }

.btn-doc, .btn-doc:link, .btn-doc:visited {
  cursor: pointer;
  font-size: 1.3rem;
  height: 4rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  margin: 3.5rem auto;
  padding: .5rem 7rem;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid transparent;
  border-radius: .2rem;
  transition: 1s all; }

.btn-doc__white {
  color: #5C5C5C;
  background-color: #ffffff; }

.btn-doc__doc {
  color: #B7E6FF;
  background-color: #219653; }

.btn-join, .btn-join:link, .btn-join:visited {
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  height: 4.5rem;
  margin-left: 1rem;
  width: 13rem;
  background-color: #219653;
  color: #ffffff;
  margin-top: 3.5rem;
  padding-top: 1rem;
  padding-left: 4rem;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid transparent;
  border-radius: .2rem;
  box-shadow: 0 0 1rem rgba(39, 174, 96, 0.25);
  transition: 1s all; }
  .btn-join:hover, .btn-join:link:hover, .btn-join:visited:hover {
    box-shadow: 0 1rem 2rem rgba(39, 174, 96, 0.5);
    transform: scale(1.045) translateY(1px); }
  @media screen and (max-width: 600px) {
    .btn-join, .btn-join:link, .btn-join:visited {
      margin-top: 1.5rem; } }

.btn-footer, .btn-footer:link, .btn-footer:visited {
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  height: 4.5rem;
  width: 13rem;
  background-color: #27AE60;
  color: #219653;
  padding-top: 1rem;
  padding-left: 3rem;
  margin-left: 5rem;
  margin-top: -1rem;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid transparent;
  border-radius: .2rem;
  box-shadow: 0 0 1rem rgba(39, 174, 96, 0.25);
  transition: 1s all; }
  .btn-footer:hover, .btn-footer:link:hover, .btn-footer:visited:hover {
    box-shadow: 0 1rem 2rem rgba(39, 174, 96, 0.5);
    transform: scale(1.045) translateY(1px); }

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .features__icon-img {
    height: 2.5rem;
    width: 2.5rem;
    display: block; }
  .features__card {
    height: 10rem;
    width: 15rem;
    padding: 2rem 3rem;
    margin: 3rem 4rem;
    flex: 0 0 26%; }
    @media screen and (max-width: 1100px) {
      .features__card {
        margin: 4rem 4rem;
        flex: 0 0 25%; } }
    @media screen and (max-width: 1100px) {
      .features__card {
        margin: 5rem 1rem; } }
    @media screen and (max-width: 600px) {
      .features__card {
        margin: 3.5rem 0;
        flex: 0 0 55%;
        padding: 2rem 0; } }

.friendly {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1100px) {
    .friendly {
      justify-content: center;
      margin-left: 8rem; } }
  @media screen and (max-width: 940px) {
    .friendly {
      margin-left: 0; } }
  @media screen and (max-width: 600px) {
    .friendly {
      flex-direction: column; } }
  .friendly__cards {
    display: flex;
    flex-direction: column;
    flex: 0 0 43%; }
    @media screen and (max-width: 960px) {
      .friendly__cards {
        margin-right: 3rem; } }
  .friendly__card {
    height: 6rem;
    width: 50%;
    border: 1px solid #e4e4e404;
    border-radius: .55rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex; }
    .friendly__card:not(:first-child) {
      margin-top: 2.5rem; }
    @media screen and (max-width: 1100px) {
      .friendly__card {
        width: 54%; } }
    @media screen and (max-width: 600px) {
      .friendly__card {
        width: 100%; } }
  .friendly__icons {
    position: relative;
    left: 1rem;
    margin-right: 2.8rem;
    margin-top: 1rem; }
  .friendly__icons-img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: rgba(124, 77, 255, 0.144); }
  .friendly__img {
    position: relative;
    bottom: 5rem;
    height: 80%; }
    @media screen and (max-width: 950px) {
      .friendly__img {
        left: 8rem;
        height: 69%; } }
    @media screen and (max-width: 600px) {
      .friendly__img {
        left: -3rem;
        height: 40%;
        top: 35rem; } }

.home {
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 8; }
  @media screen and (max-width: 600px) {
    .home {
      flex-direction: column; } }
  .home__intro {
    flex: 0 0 47.8%;
    margin-left: 5rem;
    position: relative;
    z-index: 6; }
    @media screen and (max-width: 1200px) {
      .home__intro {
        flex: 0 0 42.5%; } }
    @media screen and (max-width: 1100px) {
      .home__intro {
        flex: 0 0 36.8%;
        margin-left: 1rem; } }
  .home__icon-images {
    display: inline-block; }
  .home__icon-img {
    width: 15rem;
    height: 12rem; }
    .home__icon-img:not(:last-child) {
      margin-right: 2rem; }
    @media screen and (max-width: 850px) {
      .home__icon-img {
        width: 11rem;
        height: 8rem; } }
  .home__image {
    z-index: 8; }
    @media screen and (max-width: 600px) {
      .home__image {
        margin-left: 2rem; } }
  .home__img {
    width: 100%; }
    @media screen and (max-width: 950px) {
      .home__img {
        width: 95%; } }

.pricing {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 600px) {
    .pricing {
      flex-direction: column; } }
  .pricing__card {
    margin: 0 1.2rem;
    padding: 3rem 2rem;
    height: 34rem;
    width: 27rem;
    background-color: #ffffff;
    border-radius: 1.2rem;
    border: 1px solid #e4e4e404;
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.38); }
    @media screen and (max-width: 600px) {
      .pricing__card {
        margin: 2.5rem 1.2rem; } }

.subscribe__form {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 600px) {
    .subscribe__form {
      flex-direction: column; } }

.subscribe__input {
  font-size: 1.2rem;
  font-weight: inherit;
  width: 20%;
  height: 4.55rem;
  color: #27AE60;
  text-transform: capitalize;
  background-color: #B7E6FF;
  padding: 0 2rem;
  margin-top: 3.5rem;
  outline: none;
  border: solid 1px transparent;
  border-radius: .3rem;
  margin-left: 1rem;
  transition: all 2s; }
  .subscribe__input:focus {
    outline: none;
    width: 23%;
    border-bottom: 1px solid #27AE60; }
  .subscribe__input:focus:invalid {
    outline: none;
    width: 23%;
    border-bottom: 1px solid #f52020; }
  @media screen and (max-width: 600px) {
    .subscribe__input {
      width: 70%; }
      .subscribe__input:focus {
        outline: none;
        width: 73%;
        border-bottom: 1px solid #27AE60; }
      .subscribe__input:focus:invalid {
        outline: none;
        width: 73%;
        border-bottom: 1px solid #f52020; } }

.values {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 600px) {
    .values {
      flex-direction: column; } }
  .values__card {
    height: 30rem;
    width: 30rem;
    padding: 2rem 1rem;
    border: 1px solid #e4e4e404;
    border-radius: 1.2rem;
    box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.025); }
    .values__card:not(:last-child) {
      margin-right: 3.5rem; }
  .values__icons {
    position: relative;
    left: 10rem;
    margin-bottom: 2rem; }
  .values__icons-img {
    height: 4.5rem;
    width: 4.5rem; }

.footer {
  position: relative;
  padding: 8rem 5rem; }
  @media screen and (max-width: 600px) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    position: absolute;
    left: 8rem;
    top: 7.5rem; }
    @media screen and (max-width: 600px) {
      .footer__logo-box {
        left: 2rem;
        top: .5rem; } }
  .footer__logo {
    width: 3.5rem;
    height: 3.5rem; }
  .footer__elements {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 600px) {
      .footer__elements {
        flex-direction: column; } }
  .footer__items {
    margin-left: 10rem;
    margin-bottom: 3rem; }
    @media screen and (max-width: 950px) {
      .footer__items {
        margin-left: 7.5rem; } }
    @media screen and (max-width: 600px) {
      .footer__items {
        margin-left: .5rem;
        display: flex;
        flex-direction: column; } }
  .footer__list {
    display: inline-block;
    list-style: none;
    margin-left: 2rem; }
    @media screen and (max-width: 600px) {
      .footer__list {
        margin-top: 1rem; } }
  .footer__link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: #818181;
    text-transform: capitalize; }
  .footer__icons {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 600px) {
      .footer__icons {
        margin-left: -5rem; } }
  .footer__icons-img {
    margin-left: 3rem;
    width: 2rem;
    height: 2rem; }
  .footer__copyright {
    font-size: 1.3rem;
    color: #818181;
    font-weight: 400;
    position: absolute;
    bottom: 0.4rem;
    left: 16rem; }
    @media screen and (max-width: 600px) {
      .footer__copyright {
        left: .5rem; } }

.header {
  background-image: linear-gradient(122.28deg, #219653 -2.02%, #27AE60 129.72%);
  background-position: center;
  height: 8rem;
  display: grid;
  align-content: center;
  justify-content: end;
  position: fixed;
  z-index: 25; }

.logo-box {
  position: absolute;
  flex: 0 0 50%;
  margin: 2rem 3.3rem; }
  @media screen and (max-width: 600px) {
    .logo-box {
      margin: 2rem 1rem; } }

.logo {
  height: 3.8rem;
  width: 3.8rem; }

@media screen and (max-width: 600px) {
  .nav {
    display: none; } }

.nav__items {
  margin: 3rem 0;
  display: flex; }

.nav__list {
  list-style: none; }

.nav__link, .nav__link:link, .nav__link:visited {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 4rem;
  color: #ffffff;
  position: relative; }
  .nav__link:not(:last-child), .nav__link:link:not(:last-child), .nav__link:visited:not(:last-child) {
    margin-right: 2rem; }
  .nav__link::before, .nav__link::after, .nav__link:link::before, .nav__link:link::after, .nav__link:visited::before, .nav__link:visited::after {
    transition: all .7s; }
  .nav__link::after, .nav__link:link::after, .nav__link:visited::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 1.9rem;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    color: transparent;
    background-color: #c5ffdbb4;
    height: .3rem; }
  .nav__link:hover::after, .nav__link:link:hover::after, .nav__link:visited:hover::after {
    width: 100%; }

.toggle {
  transition: all 2s;
  margin: 3.5rem auto;
  position: fixed;
  left: 90%; }
  .toggle.animate {
    transition: transform 2s;
    transform: rotate(220deg); }
  .toggle::before {
    position: absolute;
    content: "";
    bottom: 1rem; }
  .toggle::before:hover {
    transition: transform 1s;
    transform: translateY(2px); }
  .toggle::after {
    position: absolute;
    content: "";
    top: 1rem; }
  .toggle::after:hover {
    transition: transform 1s;
    transform: translateY(-2px); }

.toggle,
.toggle::before,
.toggle::after {
  cursor: pointer;
  height: .4rem;
  width: 3rem;
  display: block;
  z-index: 20;
  background-color: #B7E6FF;
  border-radius: .15rem; }
  @media screen and (min-width: 600px) {
    .toggle,
    .toggle::before,
    .toggle::after {
      display: none; } }

.toggle.animate::before {
  top: 0;
  transform: rotate(86deg);
  transition: top 2s, transfrom 2s; }

.mobile-nav {
  background-color: #27AE60;
  height: 700%;
  width: 100vw;
  z-index: 16;
  position: relative;
  right: 150%;
  transition: all 2s; }
  .mobile-nav.slide {
    right: 0; }
  .mobile-nav__items {
    margin-top: 45rem; }
  .mobile-nav__list {
    list-style: none; }
  .mobile-nav__link, .mobile-nav__link:link, .mobile-nav__link:visited {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: #ffffff;
    position: relative;
    display: block;
    text-align: center; }
    .mobile-nav__link::after, .mobile-nav__link:link::after, .mobile-nav__link:visited::after {
      transition: all .2s; }
    .mobile-nav__link::after, .mobile-nav__link:link::after, .mobile-nav__link:visited::after {
      content: "";
      position: absolute;
      margin: auto;
      top: 1.9rem;
      right: 0;
      left: 0;
      bottom: 0;
      width: 0%;
      color: transparent;
      background-color: #c5ffdbb4;
      height: .3rem;
      text-align: left; }
    .mobile-nav__link:hover::after, .mobile-nav__link:link:hover::after, .mobile-nav__link:visited:hover::after {
      animation: fill 2s forwards; }

@keyframes fill {
  0% {
    width: 0%;
    height: 1px; }
  50% {
    width: 10%;
    height: 1px; }
  100% {
    width: 25%;
    height: 130%; } }

.home-section {
  background-image: url("../../imgs/header background.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 3rem 0;
  overflow: hidden;
  z-index: 5;
  margin-bottom: 10rem; }

.values-section {
  margin: 5rem 0;
  padding: 5rem 5rem;
  background-color: #ffffff; }

.friendly-section {
  margin-top: 15rem;
  padding: 5rem 5rem;
  background-image: url("../../imgs/phone background.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
  @media screen and (max-width: 600px) {
    .friendly-section {
      margin-left: 0;
      margin-bottom: 10rem;
      padding: 0 5rem; } }

.features-section {
  padding: 5rem 5rem;
  background-image: url("../../imgs/patterned background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media screen and (max-width: 960px) {
    .features-section {
      padding: 5rem 3rem; } }

.pricing-section {
  margin: 6rem 2rem;
  padding: 2rem 3rem;
  background-color: #ffffff; }

.document-section {
  padding: 5rem 20rem;
  background-image: url("../../imgs/cloud background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 600px) {
    .document-section {
      padding: 5rem 0; } }

.subscribe-section {
  padding: 10rem 3rem;
  background-color: #ffffff; }
