@font-face {
    font-family: 'gilroy medium';
    src: url(../../css/fonts/gilroy-medium.ttf);
}

@font-face {
    font-family: 'gilroy extrabold';
    src: url(../../css/fonts/gilroy-extrabold.otf);
}

$color-primary: #219653;
$color-secondary: #27AE60;
$color-warning: #f52020;
$color-white: #ffffff;
$color-light-grey: #f0f0f0;
$color-black: #000000;
$color-dark:#333333;
$color-dark-grey:#5C5C5C;
$color-grey: #818181;
$color-light-gr: #c5ffdbb4;
$color-light: #B7E6FF;
$border-radius: 1.2rem;
$border:1px solid #e4e4e404;