.friendly {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1100px) {
        justify-content: center;
        margin-left: 8rem;
    }
    @media screen and (max-width: 940px) {
        margin-left: 0;
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        flex: 0 0 43%;
        @media screen and (max-width: 960px) {
            margin-right: 3rem;
        }
    }
    &__card {
        height: 6rem;
        width: 50%;
        border: $border;
        border-radius: .55rem;
        box-shadow: 0 1rem 1.5rem rgba($color-black, .2);
        background-color: $color-white;
        display: flex;
        &:not(:first-child) {
            margin-top: 2.5rem;
        }
        @media screen and (max-width: 1100px) {
            width: 54%;
        }
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
    &__icons {
        position: relative;
        left: 1rem;
        margin-right: 2.8rem;
        margin-top: 1rem;
    }
    &__icons-img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: rgba(124, 77, 255, 0.144);
    }
    &__img {
        position: relative;
        bottom: 5rem;
        height: 80%;
        @media screen and (max-width: 950px) {
            left: 8rem;
            height: 69%
        }
        @media screen and (max-width: 600px) {
            left: -3rem;
            height: 40%;
            top: 35rem;
        }
    }
}