.values {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    &__card {
        height: 30rem;
        width: 30rem;
        padding: 2rem 1rem;
        border: $border;
        border-radius: $border-radius;
        box-shadow: 0 .7rem 1.5rem rgba($color-black, .025);
        &:not(:last-child) {
            margin-right: 3.5rem;
        }
    }
    &__icons {
        position: relative;
        left: 10rem;
        margin-bottom: 2rem;
    }
    &__icons-img {
        height: 4.5rem;
        width: 4.5rem;
    }
}